# The Docker client sends the entire "build context" to the Docker daemon, that is the entire directory the Dockerfile is in.
# Add here files are not necessary to create the image
**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md

##### MIO:RIGA
**/.devcontainer
**/.serverless
/yarn-error.log
